/gnupg/.config/gnupg/private-keys-v1.d/*.key
/gnupg/.config/gnupg/sshcontrol
/gnupg/.config/gnupg/.#*.*-*.*
/bin/.local/bin/compdb
/bin/.local/bin/sqlint
/gnupg/.config/gnupg/*.kbx
/gnupg/.config/gnupg/*.*~
/gnupg/.config/gnupg/trustdb.gpg
/gnupg/.config/gnupg/openpgp-revocs.d
/mpd/.config/mpd/database
/mpd/.config/mpd/pid/
/mpd/.config/mpd/sticker.sql
/mpd/.config/mpd/pid
/gnupg/.config/gnupg/random_seed
/mpd/.config/mpd/state
/bin/.local/share/
/bin/.local/state/
/systemd/.config/systemd/user/default.target.wants/syncthing.service
/systemd/.config/systemd/user/pipewire-session-manager.service
/systemd/.config/systemd/user/pipewire.service.wants/
/gnupg/.config/gnupg/shared/
/systemd/.config/systemd/user/timers.target.wants/
/clangd/
/gnupg/.config/gnupg/crls.d/
/tmux/.config/tmux/themes/
/emacs/.config/emacs/eln-cache/
/emacs/.config/emacs/etc/
/emacs/.config/emacs/straight/
/emacs/.config/emacs/var/
*.log
/emacs/.config/emacs/.cache/
/npm/.config/npm/_cacache/
/npm/.config/npm/_update-notifier-last-checked
/sway/.config/sway/info.txt
/bin/.local/bin/cmake-language-server
/bin/.local/bin/wheel
/gnupg/.config/gnupg/*.charliehost.*
/emacs/.config/emacs/.dap-breakpoints
/emacs/.config/emacs/config.el
/emacs/.config/emacs/projectile-bookmarks.eld
/emacs/.config/emacs/.lsp-session-v1
/emacs/.config/emacs/auto-save-list/
/emacs/.config/emacs/transient/
